[Unit]
After=network.target
Description=RandomCoffee

[Service]
Type=simple
WorkingDirectory=/root/random-coffee/
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target